@page "/weather"
@using BackgammonBlazor.Components.BackgammonComponents
@using BackgammonBlazor.Models.Game
@using BackgammonBlazor.Models.Player
@using Microsoft.AspNetCore.Components.Rendering
@inject GameEventManager GameEventManager
@rendermode InteractiveServer

<h3>Backgammon</h3>

<PlayerPanel GameModel="@GameModel" Player="@GameModel.GetPlayer(PlayerColor.Light)" />
<Board GameModel="@GameModel" />
<PlayerPanel GameModel="@GameModel" Player="@GameModel.GetPlayer(PlayerColor.Dark)" />

@code {
    public GameModel GameModel { get; set; } = new();

    protected override void OnInitialized()
    {
        InitializeGame();

        GameEventManager.Subscribe(OnGameEventReceived);
    }

    private void InitializeGame()
    {
        GameInitializer _initializer = new();
        _initializer.InitializeGame(GameModel);
    }

    private void OnGameEventReceived()
    {
        //TODO: Refreshing the page in the browser breaks this
        /*
         * System.InvalidOperationException: 
         * 'The current thread is not associated with the Dispatcher. 
         * Use InvokeAsync() to switch execution to the Dispatcher when triggering rendering or component state.'
         */
        StateHasChanged();
    }

    // public void Dispose(){
    //     GameEventManager.Unsubscribe(OnGameEventReceived);
    // }
}
