@page "/weather"
@using BackgammonBlazor.Components.BackgammonComponents
@using BackgammonBlazor.GameObserver
@using BackgammonBlazor.Helpers
@using BackgammonBlazor.Models
@using Microsoft.AspNetCore.Components.Rendering
@inject GameEventManager GameEventManager
@rendermode InteractiveServer

<h3>Backgammon</h3>

<PlayerPanel GameModel="@GameModel" Player="@GameModel.GetPlayer(PlayerColor.Light)" />
<Board GameModel="@GameModel" />
<PlayerPanel GameModel="@GameModel" Player="@GameModel.GetPlayer(PlayerColor.Dark)" />

@code {
    public GameModel GameModel { get; set; } = new();

    protected override void OnInitialized()
    {
        InitializeGame();

        GameEventManager.Subscribe(OnGameEventReceived);
    }

    private void InitializeGame()
    {
        GameInitializer _initializer = new();
        _initializer.InitializeGame(GameModel);
    }

    private void OnGameEventReceived()
    {
        StateHasChanged();
    }

    public void Dispose(){
        GameEventManager.Unsubscribe(OnGameEventReceived);
    }
}
